[user]
	name = Oleg Komarov
	email = oleg.komarov11@gmail.com
[gc]
	autoDetach = false
[core]
	excludesfile = /Users/okomarov/.gitignore_global
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main

[rebase]
	autoStash = true
[commit]
	gpgSign = false
[pull]
	rebase = false
[gui]
	pruneduringfetch = true
[smartgit "submodule"]
	fetchalways = false
	update = true
	initializenew = true
[push]
	recurseSubmodules = check
	autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[fetch]
	prune = true
[rerere]
	enabled = true
[diff]
	algorithm = histogram
[branch]
	sort = -committerdate
